.container{
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    align-items: center;
    background: url('../../assets/images/bg-white-3.png') 0 0;
    color: #535967 !important;
    text-align: center;
    padding-bottom: 50px;
}

.title{
    margin: 40px;
}

.form{
    width: 25%;
    min-width: 350px;
}

.form input, .form select, .form button, .form textarea, .form label{
    margin-top: 20px;
}

.form div{
    text-align: left;
}

.form p{
    text-align: left;
    margin: 5px;
    font-size: 14px;
}

.form p span{
    color: red;
}

.checkbox{
    display: flex !important;
    align-items: center;
    padding-left: 1.5em;
}

.checkbox label{
    margin-left: 5px;
}

.form .submitBtn{
    background-color: grey;
    border: solid 2px gray;
    margin-right: 30px;
}

.form .cancelBtn{
    background-color: white;
    border: solid 2px gray;
    color: #535967;
}

.form .submitBtn:hover{
    background-color: white;
    border: solid 2px gray;
    color: #535967;
}

.form .cancelBtn:hover{
    background-color: grey;
    border: solid 2px gray;
}