.wrapper{
    padding: 30px;
    text-align: center;
    background: url('../../assets/images/bg-white-3.png') 0 0;
    color: #494949;
}

.causeSection{
    width: 100%;
    min-width: 350px;
    margin-bottom: 50px;
    padding-top: 20px;
}

.causeLink{
    display: block;
}

.important{
    color: red;
    display: block;
    font-weight: 700;
}

.content{
    padding: 50px 50px 30px 50px;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #fff;
    position: relative;
    justify-content: space-around
}

.imageContainer{
    width: 300px;
    height: 450px;
    min-width: 250px;
    margin-bottom: 30px;
}

.image{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    opacity: 80%;
    object-fit: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bookData{
    display: inline;
    margin-left: 40px;
    width: 30%;
    min-width: 300px;
    margin-bottom: 20px;
    line-height: 25px;
}

.bookDescription{
    margin-bottom: 20px;
    width: 40%;
    min-width: 300px;
    text-align: justify;
}

.buttons{
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.contactToast{
    display: flex;
    width: 100%;
}

.dropDown{
    width: 100%;
}

.info{
    cursor:text;
}

.comments{
    padding: 30px 50px 30px 50px;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    background-color: transparent;
    position: relative;
    justify-content: space-around;
}

.comments h3{
    text-align: center;
}

.commentsContainer{
    padding: 30px 50px;
    text-align: center;
    background: url('../../assets/images/bg-white-3.png') 0 0;
    color: #494949;
}

.h2{
    color: #494949;
}

.singleComment{
    border-bottom: solid 1px #06829a;
    padding: 10px;
    margin: 10px;
}

.formContainer{
    color: #494949;
    padding: 30px;
    width: 50%;
    text-align: center;
    align-self: center;
    margin-top: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.formContainer textarea{
    margin-bottom: 10px;
}

.buttons .deleteBtn, .buttons .editBtn{
    margin-top: 10px;
}

.formContainer div{
    text-align: right;
    color: red;
    margin-right: 10px;
}

.buttons .editBtn, form .editBtn, .editBtn button{
    background-color: #06829a;
    border: solid 2px #06829a;
    margin-right: 30px;
    min-width: 70px;
}

.buttons .deleteBtn{
    background-color: white;
    border: solid 2px gray;
    color: #494949;
}

.buttons .editBtn:hover, form .editBtn:hover, .editBtn button:hover{
    background-color: #42adbe;
    border: solid 2px #42adbe;
    color: white;
}

form .editBtn{
    margin-top: 20px;
}

.buttons .deleteBtn:hover{
    background-color: grey;
    border: solid 2px gray;
}

.username{
    color: #06829a;
}