.wrapper{
    padding: 30px;
    text-align: center;
    background: url('../../assets/images/bg-white-3.png') 0 0;
    color: #3e4452;
}

.causeSection{
    width: 100%;
    min-width: 350px;
    margin-bottom: 50px;
    padding-top: 20px;
}

.causeLink{
    display: block;
}

.important{
    color: red;
    display: block;
    font-weight: 700;
}

.content{
    padding: 50px 50px 30px 50px;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #fff;
    position: relative;
    justify-content: space-around
}

.imageContainer{
    width: 300px;
    height: 450px;
    min-width: 250px;
    margin-bottom: 30px;
}

.image{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    opacity: 80%;
    object-fit: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bookData{
    display: inline;
    margin-left: 40px;
    width: 30%;
    min-width: 300px;
    margin-bottom: 20px;
    line-height: 25px;
}

.bookDescription{
    margin-bottom: 20px;
    width: 40%;
    min-width: 300px;
    text-align: justify;
}

.buttons{
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.buttons button{
    background-color: rgb(207, 207, 207);
    margin-left: 20px;
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
}

.button{
    border-radius: 10px;
    border: none;
    background-color: rgb(207, 207, 207);
}

.contactToast{
    display: flex;
    width: 100%;
}

.dropDown{
    width: 100%;
}