.section{
    height: auto;
    padding: 50px 30px;
    justify-content: center;
    align-items: center;
    /* background: url('../../assets/images/bg-white-3.png') 0 0; */
}

.title{
    text-align: center;
    padding-bottom: 25px;
    color: rgba(67, 66, 66, 0.991);
}
