.footerContainer{
    width: 100%;
    background-color: rgba(242, 243, 243, 1);
    padding: 20px 60px;
    text-align: right;
    position: absolute;
    bottom: 0;
}

.footerContainer p{
    margin: 0;
}