.section{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    margin-top: 50px;
    text-align: center;
    margin-bottom: 0;
    color: rgba(67, 66, 66, 0.991);
}

.books{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}