.container{
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    align-items: center;
    background: url('../../assets/images/bg-white-3.png') 0 0;
    color: #3e4452;
    text-align: center;
}

.title{
    margin: 40px;
}

.form{
    width: 25%;
    min-width: 350px;
}

.form input, .form select, .form button, .form textarea, .form div{
    margin-bottom: 20px;
}

.form div{
    text-align: left;
}