.wrapper{
    background: url('../../assets/images/bg-white-3.png') 0 0;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 50px;
    min-height: 83vh;
}

.accordion{
    width: 90%;
    margin: auto;
}

.title{
    padding: 20px;
    text-align: center;
    letter-spacing: 5px;
    font-size: 32px;
    font-weight: 600;
}

.row{
    align-items: center;
}

.row div{
    margin: 10px 0;
}

.button{
    margin: 10px;
}

.buttonContainer {
    text-align: right;
}

.noBooks{
    padding: 20px;
    text-align: center;
    letter-spacing: 5px;
    font-size: 32px;
    font-weight: 600;
    margin-top: 70px;
}