@import url("https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i%7CMontserrat:600,800");

.appStyle{
    height: auto;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #3e3e3e;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
}