.registerContainer{
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    align-items: center;
    background: url('../../assets/images/bg-white-3.png') 0 0;
    color: #3e4452;
    text-align: center;
}

.title{
    margin: 40px;
}

.form{
    width: 25%;
    min-width: 350px;
}


.form input, .form button, .form p{
    margin-top: 20px;
}

.form div{
    color: red;
}

.additionalText{
    font-size: 16px;
    margin-bottom: 40px;
}

.form button{
    background-color: grey;
    border: solid 2px gray;
}

.form button:hover{
    background-color: white;
    border: solid 2px gray;
    color: #3e4452;
}

.additionalText a{
    text-decoration: none;
}